html {
    font-size: 22px;
  }

  body {
    background-color:red;
    color: whitesmoke;
  }

  a {
    color: blue;
  }

  a:visited {
  color: purple;  
  }
  
  a:hover, a:active {
    color: blue;
  }

  table, tr, th, td, caption {
    border: 1px solid#eee;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-collapse: collapse;
    padding: 0.5rem;
  }